* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: #000;
}
body {
  overflow-x: hidden;
}

section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  background: whitesmoke;
  background-repeat: no-repeat;
  background-size: 50% 100vh;
  min-height: 100vh;
  z-index: 0;
}
/*footer*/
footer {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: space-around;
  align-items: center;
  height: 15vh;
  color: #dff1ff;
  background: white;
  padding-top: 1rem;
}
footer a {
  padding: 1rem;
  width: fit-content;
  border-radius: 1rem;
  text-decoration: none;
  border: solid 1px rgb(250, 217, 97);
  background: linear-gradient(rgb(250, 217, 97), rgb(247, 107, 28));
  color: #f1f4f9;
  transition: 0.5s ease-out;
}

footer a:hover {
  padding: 1rem;
  border-radius: 1rem;
  text-decoration: none;
  border: solid 1px rgb(250, 217, 97);
  background: none;
  color: rgb(247, 107, 28);
}
.contact {
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 45vh;
  width: 25vw;
  z-index: 1;
  margin: 5vh;
  border-radius: 5%;
  border-top: 1px solid rgba(255, 255, 255, 0.6);
  border-left: 1px solid rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(5px);
  color: black;
}
.contact:hover {
  box-shadow: 10px 10px 25px rgba(247, 107, 28, 0.5);
}
/*navbar*/
.navbar {
  display: flex;
  position: fixed;
  top: 0;
  justify-content: space-between;
  text-align: center;
  width: 100%;
  background-color: white;
  z-index: 10;
}
.landing {
  display: flex;
  align-items: center;
}
.navbar .logo {
  height: 10vh;
}
.navbar a {
  padding: 1rem;
  width: fit-content;
  border-radius: 1rem;
  text-decoration: none;
  border: solid 1px rgb(250, 217, 97);
  background: linear-gradient(rgb(250, 217, 97), rgb(247, 107, 28));
  color: #f1f4f9;
  transition: 0.5s ease-out;
  margin-right: 10px;
}
.navbar a:hover {
  padding: 1rem;
  border-radius: 1rem;
  text-decoration: none;
  border: solid 1px rgb(250, 217, 97);
  background: none;
  color: rgb(247, 107, 28);
}
.exitPic {
  height: 3vh;
}
#exit {
  background: transparent;
  margin-left: 10px;
  transition: 0.5s ease-out;
}
#exit:hover {
  padding: 0.9rem;
}
/*fin navbar*/
.largeur {
  width: 100%;
}
.container1 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../img/voyage.jpg);
  background-repeat: no-repeat;
  background-size: 54% 100vh;
  z-index: 1;
  min-height: 100vh;
}
.container2 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background: url(../img/lightyellow.png);
  background-size: cover;
  min-height: 100vh;
}
.container3 {
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(../img/yellow.jpg);
  background-repeat: repeat;
  z-index: 1;
  min-height: 100vh;
}
.container4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url(../img/lightyellow.png);
  background-size: cover;
  z-index: 1;
  height: 100vh;
}
.accueil h1 {
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 1rem;
}
.connexion {
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 20px 20px 50px rgba(247, 107, 28, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 35rem;
  width: 90rem;
  padding: 3rem;
  border-radius: 0.5rem;
  border-top: 1px solid rgba(255, 255, 255, 0.6);
  border-left: 1px solid rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(5px);
  color: white;
  z-index: 2;
}
.Login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 30vh;
  width: 70vw;
}
.Login input {
  width: 25%;
  height: 4vh;
  border-radius: 10px;
  border: 1px solid lightsalmon;
}
.Login button {
  margin-top: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  text-decoration: none;
  border: solid 1px rgb(250, 217, 97);
  background: linear-gradient(rgb(250, 217, 97), rgb(247, 107, 28));
  color: #f1f4f9;
  transition: 0.5s ease-out;
  font-size: 1rem;
}
.Login button:hover {
  padding: 1rem;
  border-radius: 10px;
  text-decoration: none;
  border: solid 1px rgb(250, 217, 97);
  background: none;
  color: rgb(247, 107, 28);
}
.Login2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 30vh;
}
.Login2 button {
  background: linear-gradient(rgb(250, 217, 97), rgb(247, 107, 28));
  color: white;
  padding: 1rem;
  border: none;
  border-radius: 10px;
}
.logdiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 6vh;
  width: 70vw;
  margin-bottom: auto;
}

.logdiv input {
  width: 25%;
  height: 4vh;
  border-radius: 10px;
  border: 1px solid lightsalmon;
}
.logdiv textarea {
  width: 25%;
  height: 4vh;
  border-radius: 10px;
  border: 1px solid lightsalmon;
}
.logdiv2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 6vh;
  width: 70vw;
}
.logdiv2 input {
  width: 25%;
  height: 4vh;

  border: none;
}
.connexion img {
  height: 55vh;
}

.container2 h2 {
  font-size: 2rem;
}
.titre1 {
  align-self: center;
  width: 65vw;
}
.titre2 {
  width: 40vw;
  align-self: flex-end;
}
.container2 p {
  width: 40vw;
}
.imgdiv {
  display: flex;
  justify-content: center;
}
.container2 img {
  align-self: center;
  height: 40vh;
  width: 15vw;
  margin-right: 5%;
  border-radius: 10px;
  box-shadow: 10px 10px 25px rgba(247, 107, 28, 0.5);
}

/*Fin page de connexion et inscription*/

/* Dashboard*/

.homepage {
  display: flex;
  background: url(../img/bgHome.jpg);
  background-size: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.accueil {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 20px 20px 50px rgba(250, 217, 97, 0.5);
  display: flex;
  flex-direction: column;
  text-align: center;
  width: max-content;
  padding: 20px;
  margin-top: 7rem;
  margin-bottom: 2rem;
  border-radius: 2%;
  border-top: 1px solid rgba(255, 255, 255, 0.6);
  border-left: 1px solid rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(5px);
}
.profilPic {
  height: 5vh;
  border-radius: 50%;
}

.activProject {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.oldProject {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
.activProject h2 {
  margin-bottom: 2rem;
}

.activProject a {
  margin-top: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  text-decoration: none;
  border: solid 1px rgb(250, 217, 97);
  background: linear-gradient(rgb(250, 217, 97), rgb(247, 107, 28));
  color: #f1f4f9;
  transition: 0.5s ease-out;
}

.activProject a:hover {
  padding: 1rem;
  border-radius: 1rem;
  text-decoration: none;
  border: solid 1px rgb(250, 217, 97);
  background: none;
  color: rgb(247, 107, 28);
}
.tableShow {
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 75vh;
  width: 60vw;
  padding: 3rem;
  border-radius: 0.5rem;
  border-top: 1px solid rgba(255, 255, 255, 0.6);
  border-left: 1px solid rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(5px);
  color: white;
  z-index: 1;
}
.tableShow a {
  margin-top: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  text-decoration: none;
  border: solid 1px rgb(250, 217, 97);
  background: linear-gradient(rgb(250, 217, 97), rgb(247, 107, 28));
  color: #f1f4f9;
  transition: 0.5s ease-out;
}
.tableShow a:hover {
  padding: 1rem;
  border-radius: 1rem;
  text-decoration: none;
  border: solid 1px rgb(250, 217, 97);
  background: none;
  color: rgb(247, 107, 28);
}
.tableShowFooter {
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;

  align-items: center;
  height: 75vh;
  width: 60vw;
  padding: 3rem;
  border-radius: 0.5rem;
  border-top: 1px solid rgba(255, 255, 255, 0.6);
  border-left: 1px solid rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(5px);
  color: white;
  z-index: 1;
  overflow-y: scroll;
}
.tableShowFooter h2 {
  margin-top: 1rem;
  padding: 1rem;

  text-decoration: none;
}
.tableShowFooter a:hover {
  padding: 1rem;
  border-radius: 1rem;
  text-decoration: none;
  border: solid 1px rgb(250, 217, 97);
  background: none;
  color: rgb(247, 107, 28);
}

.buttonProject {
  margin-top: 15px;
  margin-bottom: 15px;
}
.logdiv button {
  width: 20vw;
}

.logdivbtn {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
}
.logdivbtn input {
  font-size: 1rem;
}
.logdivbtn button {
  font-size: 1rem;
}
.logdivbtn2 {
  position: absolute;
  top: 60%;
  left: 44%;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
}
.logdivbtn2 .button {
  font-size: 1rem;
}
.projectCard {
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 45vh;
  width: 25vw;
  z-index: 1;
  margin: 5vh;
  border-radius: 5%;
  border-top: 1px solid rgba(255, 255, 255, 0.6);
  border-left: 1px solid rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(5px);
  color: black;
}
.projectCard:hover {
  box-shadow: 10px 10px 25px rgba(247, 107, 28, 0.5);
}
.projectCard form {
  height: 80%;
}
.projectCard .button {
  margin-top: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  text-decoration: none;
  border: solid 1px rgb(250, 217, 97);
  background: linear-gradient(rgb(250, 217, 97), rgb(247, 107, 28));
  color: #f1f4f9;
  transition: 0.5s ease-out;
}
.projectCard .button:hover {
  padding: 1rem;
  border-radius: 1rem;
  text-decoration: none;
  border: solid 1px rgb(250, 217, 97);
  background: none;
  color: rgb(247, 107, 28);
}

.userProject {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
}
.userprojectPic {
  display: flex;
  flex-direction: row;
}
.fonctionnalité {
  display: flex;
  flex-direction: row;
}
.fct {
  background: rgb(255, 255, 255);
  box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 25vh;
  width: 15vw;
  z-index: 1;
  margin: 5vh;
  border-radius: 5%;
  border-top: 1px solid rgba(255, 255, 255, 0.6);
  border-left: 1px solid rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(5px);
  color: black;
}
.fct:hover {
  box-shadow: 10px 10px 25px rgba(247, 107, 28, 0.5);
}
.fctPic {
  height: 5vh;
}
tbody {
  height: 3.5rem;
  overflow: scroll;
}
.formline {
  height: 4rem;
}

/*Chat*/

.Showdisc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 75vh;
  width: 60vw;
  padding-top: 5rem;

  color: white;
  z-index: 1;
}
.topdisc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.topdisc a {
  padding: 1rem;
  width: fit-content;
  border-radius: 1rem;
  text-decoration: none;
  border: solid 1px rgb(250, 217, 97);
  background: linear-gradient(rgb(250, 217, 97), rgb(247, 107, 28));
  color: #f1f4f9;
  transition: 0.5s ease-out;
}
.topdisc a:hover {
  padding: 1rem;
  border-radius: 1rem;
  text-decoration: none;
  border: solid 1px rgb(250, 217, 97);
  background: none;
  color: rgb(247, 107, 28);
}
#chat {
  background-color: white;
  box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.5);
  display: flex;
  overflow-y: scroll;
  overflow-x: hidden;
  flex-direction: column;
  padding: 2rem;
  height: 60vh;
  width: 50vw;
  border-radius: 10px;
  border-top: 1px solid rgba(255, 255, 255, 0.6);
  border-left: 1px solid rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(5px);
  color: white;
}
.chatMessage {
  display: flex;
  flex-direction: column;
  width: 20vw;
  margin-left: 25vw;
}
.chatMessage2 {
  display: flex;
  flex-direction: column;
  width: 20vw;
}
.float-right {
  display: flex;
  justify-content: center;
  align-items: baseline;
  float: right;
  margin-bottom: 0.5rem;
  background-color: rgba(247, 107, 28, 0.5);
  border: 2px solid rgb(247, 107, 28);
  background-size: cover;
  font-size: 1rem;
  border-radius: 5px;
}
.float-left {
  display: flex;
  justify-content: center;
  align-items: baseline;
  float: left;
  margin-bottom: 0.5rem;
  background-color: rgba(250, 217, 97, 0.5);
  border: 2px solid rgb(250, 217, 97);
  font-size: 1rem;
  width: 20vw;
  border-radius: 5px;
}
.float b {
  font-size: 0.5rem;
}
.discussion {
  margin-top: 1rem;
  width: 50vw;
}
.discussion input {
  width: 80%;
  height: 10vh;
  border-radius: 10px;
}
.discussion button {
  margin-top: 1rem;
  padding: 2rem;
  border-radius: 1rem;
  text-decoration: none;
  border: solid 1px rgb(250, 217, 97);
  background: linear-gradient(rgb(250, 217, 97), rgb(247, 107, 28));
  color: #f1f4f9;
  transition: 0.5s ease-out;
  font-size: 1rem;
}
.discussion button:hover {
  padding: 2rem;
  border-radius: 1rem;
  text-decoration: none;
  border: solid 1px rgb(250, 217, 97);
  background: none;
  color: rgb(247, 107, 28);
}
