* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: #000;
}
body {
  overflow-x: hidden;
}

section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  background: whitesmoke;
  background-repeat: no-repeat;
  background-size: 50% 100vh;
  min-height: 100vh;
  z-index: 0;
}

/*footer*/
footer {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: space-around;
  align-items: center;
  height: 15vh;
  color: #dff1ff;
  background: #222222;
  padding-top: 1rem;
}
footer p {
  color: white;
}
footer a {
  padding: 1rem;
  width: fit-content;
  border-radius: 1rem;
  text-decoration: none;
  border: solid 1px rgb(250, 217, 97);
  background: linear-gradient(rgb(250, 217, 97), rgb(247, 107, 28));
  color: #f1f4f9;
  transition: 0.5s ease-out;
}

footer a:hover {
  padding: 1rem;
  border-radius: 1rem;
  text-decoration: none;
  border: solid 1px rgb(250, 217, 97);
  background: none;
  color: rgb(247, 107, 28);
}
.contact {
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 45vh;
  width: 25vw;
  z-index: 1;
  margin: 5vh;
  border-radius: 5%;
  border-top: 1px solid rgba(255, 255, 255, 0.6);
  border-left: 1px solid rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(5px);
  color: black;
}
.contact:hover {
  box-shadow: 10px 10px 25px rgba(247, 107, 28, 0.5);
}
/*navbar*/
.navbar {
  display: flex;
  position: fixed;
  top: 0;
  justify-content: space-between;
  text-align: center;
  width: 100%;
  background-color: #222222;
  box-shadow: 10px 5px 5px #bcbcbc;
  z-index: 10;
}
.landing {
  display: flex;
  align-items: center;
}
.navbar .logo {
  height: 10vh;
}
.navbar .btn {
  padding: 1rem;
  width: fit-content;
  border-radius: 1rem;
  text-decoration: none;
  border: solid 1px rgb(250, 217, 97);
  background: linear-gradient(rgb(250, 217, 97), rgb(247, 107, 28));
  color: #f1f4f9;
  transition: 0.5s ease-out;
  margin-right: 10px;
}
.backhome {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: none;
  border: none;
  text-decoration: none;
}
.backhome p {
  color: #f1f4f9;
  text-decoration: none;
}

.list {
  list-style: none;
  display: flex;
  gap: 25px;
  align-items: center;
}
.navbar .btn:hover {
  padding: 1rem;
  border-radius: 1rem;
  text-decoration: none;
  border: solid 1px rgb(250, 217, 97);
  background: none;
  color: rgb(247, 107, 28);
}
.exitPic {
  height: 3vh;
}
#exit {
  background: transparent;
  margin-left: 10px;
  transition: 0.3s ease-out;
}
#exit:hover {
  padding: 0.9rem;
}
#toggler,
.navbar label {
  display: none;
}
/*fin navbar*/
.largeur {
  width: 100%;
}
.container1 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../img/voyage.jpg);
  background-repeat: no-repeat;
  background-size: 54% 100vh;
  z-index: 1;
  min-height: 100vh;
}
.container2 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background: url(../img/lightyellow.png);
  background-size: cover;
  min-height: 100vh;
}
.container3 {
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(../img/yellow.jpg);
  background-repeat: repeat;
  z-index: 1;
  min-height: 100vh;
}
.container4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url(../img/lightyellow.png);
  background-size: cover;
  z-index: 1;
  height: 100vh;
}
.accueil h2 {
  text-transform: uppercase;
  font-family: "Cinzel", sans-serif;
  font-weight: 500;
  font-size: 1rem;
}
.connexion {
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 20px 20px 50px rgba(247, 107, 28, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  min-height: 50vh;
  min-width: 90vw;
  padding: 3rem;
  border-radius: 0.5rem;
  border-top: 1px solid rgba(255, 255, 255, 0.6);
  border-left: 1px solid rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(5px);
  color: white;
  z-index: 2;
}
.Login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 30vh;
  width: 70vw;
}
.Login input {
  width: 25%;
  height: 4vh;
  border-radius: 10px;
  border: 1px solid lightsalmon;
}
.Login button {
  margin-top: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  text-decoration: none;
  border: solid 1px rgb(250, 217, 97);
  background: linear-gradient(rgb(250, 217, 97), rgb(247, 107, 28));
  color: #f1f4f9;
  transition: 0.5s ease-out;
  font-size: 1rem;
}
.Login button:hover {
  padding: 1rem;
  border-radius: 10px;
  text-decoration: none;
  border: solid 1px rgb(250, 217, 97);
  background: none;
  color: rgb(247, 107, 28);
}
.Login2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 30vh;
}
.Login2 button {
  background: linear-gradient(rgb(250, 217, 97), rgb(247, 107, 28));
  color: white;
  padding: 1rem;
  border: none;
  border-radius: 10px;
}
.logdiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 6vh;
  width: 70vw;
  margin-bottom: auto;
}
.logdivpass {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 6vh;
  width: 70vw;
  margin-bottom: auto;
}
#change_password_form_plainPassword {
  display: flex;
  flex-direction: column;
  height: 15vh;
  justify-content: space-around;
}
#change_password_form_plainPassword input {
  width: 25%;
  height: 4vh;
  border-radius: 10px;
  border: 1px solid lightsalmon;
}

.logdiv input {
  width: 25%;
  height: 4vh;
  border-radius: 10px;
  border: 1px solid lightsalmon;
}
.logdiv textarea {
  width: 25%;
  height: 6vh;
  border-radius: 10px;
  border: 1px solid lightsalmon;
}
#date_in {
  text-align: center;
  color: #838383;
}
#date_out {
  text-align: center;
  color: #838383;
}
.logdiv2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 6vh;
  width: 70vw;
}
.logdiv2 input {
  width: 25%;
  height: 4vh;

  border: none;
}
.connexion img {
  height: 55vh;
}

.container2 h2 {
  font-size: 2rem;
}
.titre1 {
  align-self: center;
  width: 65vw;
}
.titre2 {
  width: 40vw;
  align-self: flex-end;
}
.container2 p {
  width: 40vw;
}
.imgdiv {
  display: flex;
  justify-content: center;
}
.container2 img {
  align-self: center;
  height: 40vh;
  width: 15vw;
  margin-right: 5%;
  border-radius: 10px;
  box-shadow: 10px 10px 25px rgba(247, 107, 28, 0.5);
}

/*Fin page de connexion et inscription*/

/* Dashboard*/

.homepage {
  display: flex;
  /*background: url(../img/bgHome.jpg);*/
  background-color: #f1f4f9;
  background-size: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.accueil {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 1px 1px 100px rgba(247, 107, 28, 0.5);
  display: flex;
  flex-direction: column;
  text-align: center;
  width: max-content;
  padding: 20px;
  margin-top: 8rem;
  margin-bottom: 2rem;
  border-radius: 2%;
  border-top: 1px solid rgba(255, 255, 255, 0.6);
  border-left: 1px solid rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(5px);
}
.profilPic {
  height: 5vh;
  border-radius: 50%;
}
.navpick {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
}
.navpick p {
  color: white;
  margin-left: 00.5rem;
}
.homepage h1 {
  font-size: 2.5rem;
}
.homepage h2 {
  font-size: 2rem;
}
.titres {
  width: 90vw;
  display: flex;
  align-items: baseline;
}
.titres a {
  margin-left: 3rem;
}
.activProject {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.oldProject {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
.activProject h2 {
  margin-bottom: 2rem;
}

.activProject a {
  margin-top: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  text-decoration: none;
  border: solid 1px rgb(250, 217, 97);
  background: linear-gradient(rgb(250, 217, 97), rgb(247, 107, 28));
  color: #f1f4f9;
  transition: 0.5s ease-out;
}

.activProject a:hover {
  padding: 1rem;
  border-radius: 1rem;
  text-decoration: none;
  border: solid 1px rgb(250, 217, 97);
  background: none;
  color: rgb(247, 107, 28);
}
.tableShow {
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 75vh;
  width: 60vw;
  padding: 3rem;
  border-radius: 0.5rem;
  border-top: 1px solid rgba(255, 255, 255, 0.6);
  border-left: 1px solid rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(5px);
  color: white;
  margin-top: 3rem;
  z-index: 1;
}
.tableShow a {
  margin-top: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  text-decoration: none;
  border: solid 1px rgb(250, 217, 97);
  background: linear-gradient(rgb(250, 217, 97), rgb(247, 107, 28));
  color: #f1f4f9;
  transition: 0.5s ease-out;
}
.tableShow a:hover {
  padding: 1rem;
  border-radius: 1rem;
  text-decoration: none;
  border: solid 1px rgb(250, 217, 97);
  background: none;
  color: rgb(247, 107, 28);
}
.example-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.listUser {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 70%;
}
.tableShowFooter {
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;

  align-items: center;
  height: 75vh;
  width: 60vw;
  padding: 3rem;
  border-radius: 0.5rem;
  border-top: 1px solid rgba(255, 255, 255, 0.6);
  border-left: 1px solid rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(5px);
  color: white;
  z-index: 1;
  overflow-y: scroll;
}
.tableShowFooter h2 {
  margin-top: 1rem;
  padding: 1rem;

  text-decoration: none;
}
.tableShowFooter a:hover {
  padding: 1rem;
  border-radius: 1rem;
  text-decoration: none;
  border: solid 1px rgb(250, 217, 97);
  background: none;
  color: rgb(247, 107, 28);
}

.buttonProject {
  margin-top: 15px;
  margin-bottom: 15px;
}
.logdiv button {
  width: 20vw;
}

.logdivbtn {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
}
.logdivbtn input {
  margin-left: 1rem;
  font-size: 1rem;
}
.logdivbtn button {
  font-size: 1rem;
}
.logdivbtn2 {
  position: absolute;
  top: 60%;
  left: 44%;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
}
.logdivbtn2 .button {
  font-size: 1rem;
}
.projectCard {
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  min-height: 60vh;
  width: 28vw;
  z-index: 1;
  margin: 5vh;
  padding: 20px;
  border-radius: 15px;
  border-top: 1px solid rgba(255, 255, 255, 0.6);
  border-left: 1px solid rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(5px);
  color: black;
}
.projectCard:hover {
  box-shadow: 10px 10px 25px rgba(247, 107, 28, 0.5);
}
.projectCard form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  align-items: center;
}
.projectCard .button {
  margin-top: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  text-decoration: none;
  border: solid 1px rgb(250, 217, 97);
  background: linear-gradient(rgb(250, 217, 97), rgb(247, 107, 28));
  color: #f1f4f9;
  transition: 0.5s ease-out;
}
.projectCard .button:hover {
  padding: 1rem;
  border-radius: 1rem;
  text-decoration: none;
  border: solid 1px rgb(250, 217, 97);
  background: none;
  color: rgb(247, 107, 28);
}

.projectCard h3 {
  font-size: 1.6rem;
  font-weight: 700;
}
.projectCard p {
  font-size: 1.2rem;
  color: #525252;
}

.userProject {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
}
.userprojectPic {
  display: flex;
  flex-direction: row;
}
.fonctionnalité {
  display: flex;
  flex-direction: row;
}
.fct {
  background: rgb(255, 255, 255);
  box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 25vh;
  width: 15vw;
  z-index: 1;
  margin: 5vh;
  border-radius: 5%;
  border-top: 1px solid rgba(255, 255, 255, 0.6);
  border-left: 1px solid rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(5px);
  color: black;
}
.fct:hover {
  box-shadow: 10px 10px 25px rgba(247, 107, 28, 0.5);
}
.fctPic {
  height: 5vh;
}
.u-full-width {
  width: 100%;
  align-items: center;
}
tbody {
  height: 3.5rem;
  overflow: scroll;
}
.formline {
  height: 4rem;
}

/*Chat*/

.Showdisc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 75vh;
  width: 60vw;
  padding-top: 5rem;

  color: white;
  z-index: 1;
}
.topdisc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.topdisc a {
  padding: 1rem;
  width: fit-content;
  border-radius: 1rem;
  text-decoration: none;
  border: solid 1px rgb(250, 217, 97);
  background: linear-gradient(rgb(250, 217, 97), rgb(247, 107, 28));
  color: #f1f4f9;
  transition: 0.5s ease-out;
  font-size: 1rem;
}
.topdisc a:hover {
  padding: 1rem;
  border-radius: 1rem;
  text-decoration: none;
  border: solid 1px rgb(250, 217, 97);
  background: none;
  color: rgb(247, 107, 28);
}
#chat {
  background-color: white;
  box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.5);
  display: flex;
  overflow-y: scroll;
  overflow-x: hidden;
  flex-direction: column;
  padding: 2rem;
  height: 60vh;
  width: 50vw;
  border-radius: 10px;
  border-top: 1px solid rgba(255, 255, 255, 0.6);
  border-left: 1px solid rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(5px);
  color: white;
}
.chatMessage {
  display: flex;
  flex-direction: column;
  width: 20vw;
  margin-left: 25vw;
}
.chatMessage2 {
  display: flex;
  flex-direction: column;
  width: 20vw;
}
.float-right {
  display: flex;
  justify-content: center;
  align-items: baseline;
  float: right;
  margin-bottom: 0.5rem;
  background-color: rgba(247, 107, 28, 0.5);
  border: 2px solid rgb(247, 107, 28);
  background-size: cover;
  font-size: 1rem;
  border-radius: 5px;
}
.float-left {
  display: flex;
  justify-content: center;
  align-items: baseline;
  float: left;
  margin-bottom: 0.5rem;
  background-color: rgba(250, 217, 97, 0.5);
  border: 2px solid rgb(250, 217, 97);
  font-size: 1rem;
  width: 20vw;
  border-radius: 5px;
}
.float b {
  font-size: 0.5rem;
}
.discussion {
  margin-top: 1rem;
  width: 100%;
}
.discussion input {
  width: 80%;
  height: 10vh;
  border-radius: 10px;
}
.discussion button {
  margin-top: 1rem;
  padding: 2rem;
  border-radius: 1rem;
  text-decoration: none;
  border: solid 1px rgb(250, 217, 97);
  background: linear-gradient(rgb(250, 217, 97), rgb(247, 107, 28));
  color: #f1f4f9;
  transition: 0.5s ease-out;
  font-size: 1rem;
}
.discussion button:hover {
  padding: 2rem;
  border-radius: 1rem;
  text-decoration: none;
  border: solid 1px rgb(250, 217, 97);
  background: none;
  color: rgb(247, 107, 28);
}
td {
  margin-left: 2vw;
  align-items: center;
  justify-content: center;
  text-align: center;
}

@media screen and (max-width: 1280px) {
  * {
    overflow-x: hidden;
  }
  /*accueil*/
  .container1 {
    background-size: 100% 100vh;
  }
  .connexion img {
    height: auto;
    width: 135%;
  }
  .connexion h2 {
    display: none;
  }
  .container2 p {
    min-width: 90vw;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .container2 img {
    height: 30vh;
    width: 25vw;
  }
  .titre2 {
    align-self: center;
    width: 60vw;
  }
  /*navbar*/
  .landing {
    width: 100%;
    max-height: 0;
    overflow: hidden;
  }
  .list {
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  .navbar label {
    position: absolute;
    right: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 0 auto;
    font-size: 40px;
    color: rgb(247, 107, 28);
  }
  #toggler:checked ~ .landing {
    max-height: 100%;
    transform: translateX(0);
  }
  .userProject {
    flex-direction: column;
  }
  .projectCard {
    padding: 1rem;
  }
  .backhome p {
    font-size: 2rem;
  }
  .navbar .logo {
    width: 20vw;
  }
  .titre1 {
    font-size: 3rem;
  }
  .container2 p {
    font-size: 1.5rem;
  }
  /*Footer*/
  footer {
    justify-content: space-evenly;
    height: 20vh;
  }
  footer a {
    font-size: 2.5rem;
    padding: 1rem;
  }
  footer p {
    font-size: 1.5rem;
  }
  /*connexion*/

  .Login h1 {
    font-size: 3rem;
  }
  .Login label {
    font-size: 2rem;
  }
  .Login input {
    width: 70%;
    height: 4vh;
    border: 3px solid lightsalmon;
    text-align: center;
    font-size: 1.5rem;
  }
  .Login button {
    font-size: 2rem;
  }
  .connexion a {
    font-size: 1.5rem;
  }
  /*Inscription*/

  .connexion {
    min-height: 70vh;
    justify-content: space-evenly;
  }
  .Login {
    height: 45vh;
  }
  .logdiv2 input {
    border: none;
  }
  .connexion h1 {
    font-size: 3rem;
  }
  /*Homepage*/
  .homepage {
    margin-top: 20rem;
  }
  .accueil {
    display: none;
  }
  .titres h2 {
    font-size: 4rem;
  }
  .titres a {
    font-size: 2rem;
  }
  .userProject {
    flex-direction: row;
    overflow-x: scroll;
    align-items: flex-start;
  }
  .projectCard {
    min-height: 40vh;
    min-width: 80vw;
  }
  .projectCard h3 {
    font-size: 2.5rem;
  }
  .projectCard p {
    font-size: 2rem;
  }
  .projectCard a {
    font-size: 2.5rem;
    padding: 1.5rem 3rem;
  }
  .UP2 {
    margin-left: 100vw;
  }
  .oldProject {
    min-height: 80vh;
  }
  /*New Project*/

  .container4 h1 {
    font-size: 3rem;
  }

  .projectCard form {
    height: 80%;
    font-size: 2rem;
  }

  .projectCard form input {
    width: 70%;
    font-size: 1.5rem;
    border: 3px solid lightsalmon;
  }
  .projectCard form textarea {
    width: 70%;
    font-size: 1.5rem;
    border: 3px solid lightsalmon;
    margin-top: 5px;
  }

  .projectCard form .button {
    font-size: 2rem;
  }
  /*project*/

  .tableShow {
    min-width: 85vw;
  }
  .tableShow h1 {
    font-size: 3rem;
  }
  tbody {
    font-size: 2rem;
  }
  .buttonProject {
    font-size: 2.5rem;
    padding: 1rem;
  }
  .fct {
    background: none;
    box-shadow: none;
    border: none;
    margin: 1rem;
  }
  .fct h3 {
    display: none;
  }

  /*Edit Project*/
  .logdivbtn {
    display: grid;
    grid-gap: 1rem;
    grid-template-areas: "a b c";
  }
  .logdivbtn .greenBtn {
    grid-area: a;
    background: green;
    border: none;
    padding-right: 6rem;
    cursor: pointer;
  }
  .logdivbtn .redBtn {
    grid-area: b;
    background: red;
    border: none;
  }
  .logdivbtn .btnCancel {
    grid-area: c;
  }
  /*Add user to project*/

  .addUser form {
    display: flex;
    flex-direction: column;
    height: 30%;
    width: 100%;
  }
  .addUser form input {
    width: 70%;
    height: 3rem;
    font-size: 1.5rem;
    border: 3px solid lightsalmon;
    border-radius: 10px;
  }
  .addUser form button {
    background: green;
    border: none;
    padding: 1rem;
    font-size: 2rem;
    color: white;
    cursor: pointer;
    border-radius: 10px;
  }
  .listUser a {
    font-size: 1.7rem;
  }
  /*Documents*/
  th {
    font-size: 2rem;
  }
  .tableShow a {
    font-size: 2 rem;
  }
  tbody {
    height: 4.5rem;
  }
  .tableShow .greenBtn {
    background: green;
    border: none;
    padding: 1rem;
    font-size: 2rem;
  }
  .tableShow .back {
    padding: 1rem;
    font-size: 2rem;
    border: solid 1px rgb(250, 217, 97);
  }
  .tableShow .btnRed {
    background: red;
  }

  /*chat*/

  .topdisc h2 {
    font-size: 3rem;
  }
  .topdisc a {
    font-size: 2 rem;
  }
  .example-wrapper {
    max-width: 900px;
  }
  .Showdisc {
    width: 100%;
  }
  #chat {
    width: 100%;
  }
  .chatMessage {
    margin-left: 40vw;
    font-size: 2rem;
    width: 40vw;
  }
  .chatMessage2 {
    font-size: 2rem;
    width: 40vw;
  }
  .float {
    font-size: 2rem;
    width: 40vw;
  }
  .float b {
    font-size: 1.3rem;
  }

  .discussion form input {
    font-size: 2rem;
  }
  .discussion form #submit {
    font-size: 1.5rem;
    background: green;
    border: none;
  }

  /*User*/
  .Login h2 {
    font-size: 2rem;
  }

  .divBtnUser {
    display: grid;
    grid-template-areas: "a b c";
    grid-gap: 2vw;
  }
  .divBtnUser a {
    font-size: 1.5rem;
    background: green;
  }
  .divBtnUser form .red {
    background: red;
  }
  .logdivbtn .btnGreen {
    background: green;
    border: none;
  }
  .logdivbtn .red {
    background: red;
    border: none;
  }

  .editPass form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 80%;
  }
  .logdivpass {
    height: 12vh;
  }
  #change_password_form_plainPassword {
    height: 100%;
  }

  #change_password_form_plainPassword div {
    display: flex;
    flex-direction: column;
    height: 50vh;
    align-items: center;
    width: 80vw;
  }
  #change_password_form_plainPassword input {
    width: 60%;
    border: 3px solid lightsalmon;
  }

  /*Contact Page*/
  .contact {
    min-width: 80vw;
  }
  .contact h1 {
    font-size: 3rem;
  }
  .contact p {
    font-size: 2rem;
  }

  /*Mentions*/

  .tableShowFooter {
    min-width: 100vw;
    background: none;
    box-shadow: none;
  }
}
