* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: #000;
}
body {
  overflow-x: hidden;
}

section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  background: whitesmoke;
  background-repeat: no-repeat;
  background-size: 50% 100vh;
  min-height: 100vh;
  z-index: 0;
}

/*footer*/
footer {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: space-around;
  align-items: center;
  height: 15vh;
  color: #dff1ff;
  background: #222222;
  padding-top: 1rem;
}
footer p {
  color: white;
}
footer a {
  padding: 1rem;
  width: fit-content;
  border-radius: 1rem;
  text-decoration: none;
  border: solid 1px rgb(250, 217, 97);
  background: linear-gradient(rgb(250, 217, 97), rgb(247, 107, 28));
  color: #f1f4f9;
  transition: 0.5s ease-out;
}

footer a:hover {
  padding: 1rem;
  border-radius: 1rem;
  text-decoration: none;
  border: solid 1px rgb(250, 217, 97);
  background: none;
  color: rgb(247, 107, 28);
}
.contact {
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 45vh;
  width: 25vw;
  z-index: 1;
  margin: 5vh;
  border-radius: 5%;
  border-top: 1px solid rgba(255, 255, 255, 0.6);
  border-left: 1px solid rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(5px);
  color: black;
}
.contact:hover {
  box-shadow: 10px 10px 25px rgba(247, 107, 28, 0.5);
}

/*navbar*/

.navbar {
  display: flex;
  position: fixed;
  top: 0;
  justify-content: space-between;
  text-align: center;
  width: 100%;
  background-color: #222222;
  box-shadow: 10px 5px 5px #bcbcbc;
  z-index: 10;
}
.landing {
  display: flex;
  align-items: center;
}
.navbar .logo {
  height: 10vh;
}
.navbar .btn {
  padding: 1rem;
  width: fit-content;
  border-radius: 1rem;
  text-decoration: none;
  border: solid 1px rgb(250, 217, 97);
  background: linear-gradient(rgb(250, 217, 97), rgb(247, 107, 28));
  color: #f1f4f9;
  transition: 0.5s ease-out;
  margin-right: 10px;
}
.navbar .menu-icon {
  display: none;
}

.backhome {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: none;
  border: none;
  text-decoration: none;
}
.backhome p {
  color: #f1f4f9;
  text-decoration: none;
}

.list {
  list-style: none;
  display: flex;
  gap: 25px;
  align-items: center;
}
.navbar .btn:hover {
  padding: 1rem;
  border-radius: 1rem;
  text-decoration: none;
  border: solid 1px rgb(250, 217, 97);
  background: none;
  color: rgb(247, 107, 28);
}
.exitPic {
  height: 3vh;
}
#exit {
  background: transparent;
  margin-left: 10px;
  transition: 0.3s ease-out;
}
#exit:hover {
  padding: 0.9rem;
}
#toggler {
  display: none;
}

/*fin navbar*/

.largeur {
  width: 100%;
}
.pagePassword {
  display: flex;
  justify-content: center;
  width: 100%;
}
.container1 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../img/voyage.jpg);
  background-repeat: no-repeat;
  background-size: 54% 100vh;
  z-index: 1;
  min-height: 100vh;
}
.container2 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background: url(../img/lightyellow.png);
  background-size: cover;
  min-height: 100vh;
}
.container3 {
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(../img/yellow.jpg);
  background-repeat: repeat;
  z-index: 1;
  min-height: 100vh;
}
.container4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url(../img/lightyellow.png);
  background-size: cover;
  z-index: 1;
  height: 100vh;
}
.accueil h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 1000;
  font-variant: small-caps;
  font-size: 1rem;
}
.inscription{
  height: 70vh;
}
.connexion {
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 20px 20px 50px rgba(247, 107, 28, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  min-height: 50vh;
  min-width: 90vw;
  padding: 3rem;
  border-radius: 0.5rem;
  border-top: 1px solid rgba(255, 255, 255, 0.6);
  border-left: 1px solid rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(5px);
  color: white;
  z-index: 2;
}
.adminPage {
  margin-top: 15vh;
}
.tableAdmin {
  width: 100%;
  margin-bottom: 10vh;
}
.tableAdmin tr {
  height: 8vh;
}
.tableAdmin a {
  display: block;
  text-decoration: 1px underline transparent;
  transition: 300ms;
  position: relative;
  padding-bottom: 0.2em;
  overflow: hidden;
}
.tableAdmin a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1em;
  background-color: black;
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
  transform: translate3d(-100%, 0, 0);
}
.tableAdmin a:hover::after {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
.adminProjDesc {
  width: 50%;
}
.Login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 30vh;
  width: 70vw;
}
.Login input {
  width: 25%;
  height: 4vh;
  border-radius: 10px;
  border: 1px solid lightsalmon;
}
.Login button {
  margin-top: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  text-decoration: none;
  border: solid 1px rgb(250, 217, 97);
  background: linear-gradient(rgb(250, 217, 97), rgb(247, 107, 28));
  color: #f1f4f9;
  transition: 0.5s ease-out;
  font-size: 1rem;
}
.Login button:hover {
  padding: 1rem;
  border-radius: 10px;
  text-decoration: none;
  border: solid 1px rgb(250, 217, 97);
  background: none;
  color: rgb(247, 107, 28);
}
.Login2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 30vh;
}
.Login2 button {
  background: linear-gradient(rgb(250, 217, 97), rgb(247, 107, 28));
  color: white;
  padding: 1rem;
  border: none;
  border-radius: 10px;
}
.logdiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 6vh;
  width: 70vw;
  margin-bottom: auto;
}
.logdivpass {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 6vh;
  width: 70vw;
  margin-bottom: auto;
}.editPass form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 80%;
}

#change_password_form_plainPassword {
  height: 100%;
}

#change_password_form_plainPassword div {
  display: flex;
  flex-direction: column;
  height: 50vh;
  align-items: center;
  width: 80vw;
}
#change_password_form_plainPassword input {
  width: 60%;
  border: 3px solid lightsalmon;
}

#change_password_form_plainPassword {
  display: flex;
  flex-direction: column;
  height: 15vh;
  justify-content: space-around;
}
#change_password_form_plainPassword input {
  width: 25%;
  height: 4vh;
  border-radius: 10px;
  border: 1px solid lightsalmon;
}
.editPass .logdivbtn{
  margin-top: 6.5rem;
}
.logdiv input {
  width: 25%;
  height: 4vh;
  border-radius: 10px;
  border: 1px solid lightsalmon;
}
.logdiv textarea {
  width: 25%;
  height: 6vh;
  border-radius: 10px;
  border: 1px solid lightsalmon;
}
#date_in {
  text-align: center;
  color: #838383;
}
#date_out {
  text-align: center;
  color: #838383;
}
.logdiv2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 6vh;
  width: 70vw;
}
.logdiv2 input {
  width: 25%;
  height: 4vh;
  border-radius: 0;
  border: none;
}
.connexion img {
  height: 55vh;
}

.container2 h2 {
  font-size: 2rem;
}
.titre1 {
  align-self: center;
  width: 65vw;
}
.titre2 {
  width: 40vw;
  align-self: flex-end;
}
.container2 p {
  width: 40vw;
}
.imgdiv {
  display: flex;
  justify-content: center;
}
.container2 img {
  align-self: center;
  height: 40vh;
  width: 15vw;
  margin-right: 5%;
  border-radius: 10px;
  box-shadow: 10px 10px 25px rgba(247, 107, 28, 0.5);
}


/*Fin page de connexion et inscription*/

/* Dashboard*/

.homepage {
  display: flex;
  /*background: url(../img/bgHome.jpg);*/
  background-color: #f1f4f9;
  background-size: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.accueil {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 1px 1px 100px rgba(247, 107, 28, 0.5);
  display: flex;
  flex-direction: column;
  text-align: center;
  width: max-content;
  padding: 20px;
  margin-top: 8rem;
  margin-bottom: 2rem;
  border-radius: 10px;
  border-top: 1px solid rgba(255, 255, 255, 0.6);
  border-left: 1px solid rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(5px);
}
.profilPic {
  height: 5vh;
  border-radius: 50%;
}
.navpick {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
}
.navpick p {
  color: white;
  margin-left: 00.5rem;
}
.homepage h1 {
  font-size: 2.5rem;
}
.homepage h2 {
  font-size: 2rem;
}
.titres {
  width: 90vw;
  display: flex;
  align-items: baseline;
}
.titres a {
  margin-left: 3rem;
}
.activProject {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.oldProject {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
.activProject h2 {
  margin-bottom: 2rem;
}

.activProject a {
  margin-top: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  text-decoration: none;
  border: solid 1px rgb(250, 217, 97);
  background: linear-gradient(rgb(250, 217, 97), rgb(247, 107, 28));
  color: #f1f4f9;
  transition: 0.5s ease-out;
}

.activProject a:hover {
  padding: 1rem;
  border-radius: 1rem;
  text-decoration: none;
  border: solid 1px rgb(250, 217, 97);
  background: none;
  color: rgb(247, 107, 28);
}
.tableShow {
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 75vh;
  width: 60vw;
  padding: 3rem;
  border-radius: 0.5rem;
  border-top: 1px solid rgba(255, 255, 255, 0.6);
  border-left: 1px solid rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(5px);
  color: white;
  margin-top: 3rem;
  z-index: 1;
}
.tableShow a {
  margin-top: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  text-decoration: none;
  border: solid 1px rgb(250, 217, 97);
  background: linear-gradient(rgb(250, 217, 97), rgb(247, 107, 28));
  color: #f1f4f9;
  transition: 0.5s ease-out;
}
.tableShow a:hover {
  padding: 1rem;
  border-radius: 1rem;
  text-decoration: none;
  border: solid 1px rgb(250, 217, 97);
  background: none;
  color: rgb(247, 107, 28);
}
.example-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.listUser {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 70%;
}
.tableShowFooter {
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;

  align-items: center;
  height: 75vh;
  width: 60vw;
  padding: 3rem;
  border-radius: 0.5rem;
  border-top: 1px solid rgba(255, 255, 255, 0.6);
  border-left: 1px solid rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(5px);
  color: white;
  z-index: 1;
  overflow-y: scroll;
}
.tableShowFooter h2 {
  margin-top: 1rem;
  padding: 1rem;

  text-decoration: none;
}
.tableShowFooter a:hover {
  padding: 1rem;
  border-radius: 1rem;
  text-decoration: none;
  border: solid 1px rgb(250, 217, 97);
  background: none;
  color: rgb(247, 107, 28);
}

.buttonProject {
  margin-top: 15px;
  margin-bottom: 15px;
}
.logdiv button {
  width: 20vw;
}

.logdivbtn {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
}
.logdivbtn input {
  margin-left: 1rem;
  font-size: 1rem;
}
.logdivbtn button {
  font-size: 1rem;
}
.logdivbtn2 {
  position: absolute;
  top: 60%;
  left: 44%;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
}
.logdivbtn2 .button {
  font-size: 1rem;
}
.projectCard {
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  min-height: 60vh;
  width: 28vw;
  z-index: 1;
  margin: 5vh;
  padding: 20px;
  border-radius: 15px;
  border-top: 1px solid rgba(255, 255, 255, 0.6);
  border-left: 1px solid rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(5px);
  color: black;
}
.projectCard:hover {
  box-shadow: 10px 10px 25px rgba(247, 107, 28, 0.5);
}
.projectCard form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  align-items: center;
}
.projectCard .button {
  margin-top: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  text-decoration: none;
  border: solid 1px rgb(250, 217, 97);
  background: linear-gradient(rgb(250, 217, 97), rgb(247, 107, 28));
  color: #f1f4f9;
  transition: 0.5s ease-out;
}
.projectCard .button:hover {
  padding: 1rem;
  border-radius: 1rem;
  text-decoration: none;
  border: solid 1px rgb(250, 217, 97);
  background: none;
  color: rgb(247, 107, 28);
}

.projectCard h3 {
  font-size: 1.6rem;
  font-weight: 700;
}
.projectCard p {
  font-size: 1.2rem;
  color: #525252;
}

/*Mot de passe oublié*/

.passWord {
  display: flex;
  justify-content: center;
}
.passWord button {
  font-size: 1rem;
  padding: 1rem;
  background: green;
  border-radius: 10px;
  color: white;
}
.passWord form input {
  border: 1px solid lightsalmon;
  border-radius: 10px;
}

.userProject {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
}
.userprojectPic {
  display: flex;
  flex-direction: row;
}
.fonctionnalité {
  display: flex;
  flex-direction: row;
}
.fct {
  background: rgb(255, 255, 255);
  box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 25vh;
  width: 15vw;
  z-index: 1;
  margin: 5vh;
  border-radius: 5%;
  border-top: 1px solid rgba(255, 255, 255, 0.6);
  border-left: 1px solid rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(5px);
  color: black;
}
.fct:hover {
  box-shadow: 10px 10px 25px rgba(247, 107, 28, 0.5);
}
.fctPic {
  height: 5vh;
}
.u-full-width {
  width: 100%;
  align-items: center;
}
tbody {
  height: 3.5rem;
  overflow: scroll;
}
.formline {
  height: 4rem;
}

/*Chat*/

.Showdisc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 75vh;
  width: 60vw;
  padding-top: 5rem;

  color: white;
  z-index: 1;
}
.topdisc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.topdisc a {
  padding: 1rem;
  width: fit-content;
  border-radius: 1rem;
  text-decoration: none;
  border: solid 1px rgb(250, 217, 97);
  background: linear-gradient(rgb(250, 217, 97), rgb(247, 107, 28));
  color: #f1f4f9;
  transition: 0.5s ease-out;
  font-size: 1rem;
}
.topdisc a:hover {
  padding: 1rem;
  border-radius: 1rem;
  text-decoration: none;
  border: solid 1px rgb(250, 217, 97);
  background: none;
  color: rgb(247, 107, 28);
}
#chat {
  background-color: white;
  box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.5);
  display: flex;
  overflow-y: scroll;
  overflow-x: hidden;
  flex-direction: column;
  padding: 2rem;
  height: 60vh;
  width: 50vw;
  border-radius: 10px;
  border-top: 1px solid rgba(255, 255, 255, 0.6);
  border-left: 1px solid rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(5px);
  color: white;
}
.chatMessage {
  display: flex;
  flex-direction: column;
  width: 20vw;
  margin-left: 25vw;
}
.chatMessage .chatPicture {
  display: flex;
  justify-content: end;
}
.chatMessage2 {
  display: flex;
  flex-direction: column;
  width: 20vw;
}
.chatMessage2 .chatPicture {
  display: flex;
  justify-content: start;
}
.float-right {
  display: flex;
  justify-content: center;
  align-items: baseline;
  float: right;
  margin-bottom: 0.5rem;
  background-color: rgba(247, 107, 28, 0.5);
  border: 1px solid rgb(247, 107, 28);
  background-size: cover;
  font-size: 1rem;
  border-radius: 5px;
  box-shadow: #222222 5px 5px 3px;
}
.float-left {
  display: flex;
  justify-content: center;
  align-items: baseline;
  float: left;
  margin-bottom: 0.5rem;
  background-color: rgba(250, 217, 97, 0.5);
  border: 1px solid rgb(250, 217, 97);
  font-size: 1rem;
  width: 20vw;
  border-radius: 5px;
  box-shadow: #3e3e3e 5px 5px 3px;
}
.chatMessage img {
  height: 20px;
  width: 20px;
  justify-self: right;
}
.chatMessage2 img {
  height: 20px;
  width: 20px;
}
#chat .row b {
  font-size: 0.6rem;
  color: #525252;
}

.discussion {
  margin-top: 1rem;
  width: 100%;
}
.discussion input {
  width: 80%;
  height: 10vh;
  border-radius: 10px;
}
.discussion button {
  margin-top: 1rem;
  padding: 2rem;
  border-radius: 1rem;
  text-decoration: none;
  border: solid 1px rgb(250, 217, 97);
  background: linear-gradient(rgb(250, 217, 97), rgb(247, 107, 28));
  color: #f1f4f9;
  transition: 0.5s ease-out;
  font-size: 1rem;
}
.discussion button:hover {
  padding: 2rem;
  border-radius: 1rem;
  text-decoration: none;
  border: solid 1px rgb(250, 217, 97);
  background: none;
  color: rgb(247, 107, 28);
}
td {
  margin-left: 2vw;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/*add User*/
.addUser form input{
  border: 3px solid lightsalmon;
  border-radius: 10px;
  height: 3vh;
  width: 20vw;
}
.addUser form button{
  padding: 1rem;
  border: solid 1px rgb(250, 217, 97);
  border-radius: 10px;
  color: white;
  background: linear-gradient(rgb(250, 217, 97), rgb(247, 107, 28));
  font-size: 1.5rem;
}
.addUser form button{
  padding: 1rem;
  border: solid 1px rgb(250, 217, 97);
  border-radius: 10px;
  color: white;
  background: linear-gradient(rgb(250, 217, 97), rgb(247, 107, 28));
  font-size: 1.5rem;
}

@media screen and (max-width: 1279px) {
  * {
    overflow-x: hidden;
  }

  /*accueil*/

  .container1 {
    background-size: 100% 100vh;
  }
  .connexion img {
    height: auto;
    width: 115%;
  }
  .connexion h2 {
    display: none;
  }
  .container2 p {
    min-width: 90vw;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .container2 img {
    height: 30vh;
    width: 25vw;
  }
  .titre2 {
    align-self: center;
    width: 60vw;
  }

  /*navbar*/

  .landing {
    width: 100%;
    max-height: 0;
    overflow: hidden;
  }
  .list {
    flex-direction: row;
    align-items: center;
    padding: 20px;
  }
  .navbar .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 40px 20px;
    position: absolute;
    right: 30px;
    top: 25px;
    user-select: none;
  }
  .navbar .menu-icon .navicon {
    background: orange;
    display: block;
    height: 3px;
    position: relative;
    transition: 0.2s ease-out;
    width: 35px;
    margin-bottom: 7px;
  }

  .navbar .menu-btn {
    display: none;
  }

  .navbar .menu-btn:checked ~ .landing {
    max-height: 100%;
  }

  .navbar .menu-btn:checked ~ .menu-icon .navicon:nth-child(2) {
    background: transparent;
  }

  .navbar .menu-btn:checked ~ .menu-icon .navicon:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 9px);
  }

  .navbar .menu-btn:checked ~ .menu-icon .navicon:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -9px);
  }

  .navbar .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:nth-child(1),
  .navbar .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:nth-child(3) {
    top: 0;
  }
  .navbar .btn {
    border: solid 2px rgb(250, 217, 97);
  }
  .navbar .exitPic {
    height: 2vh;
  }
  .navbar li a {
    font-size: 2rem;
    padding: 1rem;
    border-radius: 10px;
  }
  .navbar li a:first-child {
    background: none;
    border: none;
  }
  .navbar .profilPic {
    height: 3vh;
  }

  .userProject {
    flex-direction: column;
  }
  .projectCard {
    padding: 1rem;
  }
  .backhome p {
    font-size: 2rem;
  }
  .navbar .logo {
    width: 20vw;
  }
  .titre1 {
    font-size: 3rem;
  }
  .container2 p {
    font-size: 1.5rem;
  }
  /* menu btn */

  /*Footer*/

  footer {
    justify-content: space-evenly;
    height: 20vh;
  }
  .footerBtn {
    height: 5vh;
    display: flex;
    align-items: center;
    gap: 1vw;
  }
  footer a {
    font-size: 2.3rem;
    padding: 0.2rem;
  }
  footer p {
    font-size: 1.5rem;
  }

  /*connexion*/

  .Login h1 {
    font-size: 3rem;
  }
  .Login label {
    font-size: 2rem;
  }
  .Login input {
    width: 70%;
    height: 4vh;
    border: 3px solid lightsalmon;
    text-align: center;
    font-size: 1.5rem;
  }
  .Login button {
    font-size: 2rem;
  }
  .connexion a {
    font-size: 1.5rem;
  }

  /* Mot de passe Oublié */

  .passWord {
    display: flex;
    justify-content: center;
  }
  .passWord h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
  }
  .passWord form input {
    font-size: 1.5rem;
  }
  .passWord .small {
    margin: 1rem;
  }

  .passWord button {
    font-size: 2rem;
    padding: 1rem;
    background: green;
    border-radius: 10px;
    color: white;
  }

  /*Inscription*/

  .connexion {
    min-height: 70vh;
    justify-content: space-evenly;
  }
  .Login {
    height: 45vh;
  }
  .logdiv2 input {
    border: none;
  }
  .connexion h1 {
    font-size: 3rem;
  }

  /*Homepage*/

  .homepage {
    margin-top: 20rem;
  }
  .accueil {
    display: none;
  }
  .titres h2 {
    font-size: 4rem;
  }
  .titres a {
    font-size: 2rem;
  }
  .userProject {
    flex-direction: column;
    overflow-x: scroll;
    align-items: flex-start;
  }
  .projectCard {
    min-height: 50vh;
    min-width: 80vw;
  }
  .projectCard h3 {
    font-size: 2.5rem;
  }
  .projectCard p {
    font-size: 2rem;
  }
  .projectCard a {
    font-size: 2.5rem;
    padding: 1.5rem 3rem;
  }
  .UP2 {
    overflow-x: scroll;
    flex-direction: column;
  }
  .oldProject {
    min-height: 80vh;
  }

  /*New Project*/

  .container4 h1 {
    font-size: 3rem;
  }

  .projectCard form {
    height: 80%;
    font-size: 2rem;
  }

  .projectCard form input {
    width: 70%;
    font-size: 1.5rem;
    border: 3px solid lightsalmon;
  }
  .projectCard form textarea {
    width: 70%;
    font-size: 1.5rem;
    border: 3px solid lightsalmon;
    margin-top: 5px;
  }

  .projectCard form .button {
    font-size: 2rem;
  }

  /*project*/

  .tableShow {
    min-width: 85vw;
  }
  .tableShow h1 {
    font-size: 3rem;
  }
  tbody {
    font-size: 2rem;
  }
  .buttonProject {
    font-size: 1.8rem;
    padding: 1rem;
  }
  .fct {
    background: none;
    box-shadow: none;
    border: none;
    margin: 1rem;
  }
  .fct h3 {
    display: none;
  }

  /*Edit Project*/

  .logdivbtn {
    display: grid;
    grid-gap: 1rem;
    grid-template-areas: "a b c";
  }
  .logdivbtn .greenBtn {
    grid-area: a;
    background: green;
    border: none;
    padding-right: 6rem;
    cursor: pointer;
  }
  .logdivbtn .redBtn {
    grid-area: b;
    background: red;
    border: none;
  }
  .logdivbtn .btnCancel {
    grid-area: c;
  }

  /*Add user to project*/

  .addUser form {
    display: flex;
    flex-direction: column;
    height: 30%;
    width: 100%;
  }
  .addUser form input {
    width: 70%;
    height: 3rem;
    font-size: 1.5rem;
    border: 3px solid lightsalmon;
    border-radius: 10px;
  }
  .addUser form button {
    background: green;
    border: none;
    padding: 1rem;
    font-size: 2rem;
    color: white;
    cursor: pointer;
    border-radius: 10px;
  }
  .listUser a {
    font-size: 1.7rem;
  }

  /*Documents*/

  .tableShow .example-wrapper {
    width: 100%;
  }
  th {
    font-size: 2rem;
  }
  .tableShow a {
    font-size: 2 rem;
  }
  tbody {
    height: 4.5rem;
  }
  .tableShow .greenBtn {
    background: green;
    border: none;
    padding: 1rem;
    font-size: 2rem;
  }
  .tableShow .back {
    padding: 1rem;
    font-size: 2rem;
    border: solid 1px rgb(250, 217, 97);
  }
  .tableShow .btnRed {
    background: red;
  }

  /* Add Document & Expense*/

  .Login2 {
    height: 35vh;
  }
  .Login2 .logdiv {
    height: 8vh;
  }

  .Login2 .logdiv label {
    font-size: 2rem;
    margin-bottom: 1vh;
  }
  .Login2 .logdiv input {
    width: 70%;
    font-size: 1.5rem;
    margin-bottom: 1vh;
    border: 3px solid lightsalmon;
  }
  .Login2 .logdiv2 {
    height: 8vh;
  }
  .Login2 .logdiv2 label {
    font-size: 2rem;
    margin-bottom: 1vh;
  }
  .Login2 .logdiv2 input {
    width: 70%;
    font-size: 1.4rem;
    margin-bottom: 1vh;
  }
  .Login2 .logdivbtn button {
    font-size: 2rem;
    background: green;
  }
  .logdivbtn a {
    font-size: 1.5rem;
  }
  .logdiv select {
    font-size: 2rem;
    padding: 5px;
  }

  /*chat*/

  .topdisc h2 {
    font-size: 3rem;
  }
  .topdisc a {
    font-size: 2 rem;
  }
  .example-wrapper {
    width: 100%;
  }
  .Showdisc {
    width: 100%;
  }
  #chat {
    width: 100%;
  }
  .chatMessage {
    margin-left: 40vw;
    font-size: 2rem;
    width: 40vw;
  }
  .chatMessage2 {
    font-size: 2rem;
    width: 40vw;
  }
  .float {
    font-size: 2rem;
    width: 38vw;
  }
  #chat .row b {
    font-size: 1rem;
  }
  .chatMessage img {
    height: 50px;
    width: 50px;
  }
  .chatMessage2 img {
    height: 50px;
    width: 50px;
  }

  .discussion form input {
    font-size: 2rem;
  }
  .discussion form #submit {
    font-size: 1.5rem;
    background: green;
    border: none;
  }

  /*User*/
  .Login h2 {
    font-size: 2rem;
  }

  .divBtnUser {
    display: grid;
    grid-template-areas: "a b c";
    grid-gap: 2vw;
  }
  .divBtnUser a {
    font-size: 1.5rem;
    background: green;
  }
  .divBtnUser form .red {
    background: red;
  }
  .logdivbtn .btnGreen {
    background: green;
    border: none;
  }
  .logdivbtn .red {
    background: red;
    border: none;
  }
  .logdiv td {
    font-size: 1.7rem;
  }

  .editPass form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 80%;
  }
  .logdivpass{
    height: 15vh;
  }
  #change_password_form_plainPassword {
    height: 100%;
  }

  #change_password_form_plainPassword div {
    display: flex;
    flex-direction: column;
    height: 50vh;
    align-items: center;
    width: 80vw;
  }
  #change_password_form_plainPassword input {
    width: 60%;
    border: 3px solid lightsalmon;
  }

  /*Contact Page*/
  .contact {
    min-width: 80vw;
  }
  .contact h1 {
    font-size: 3rem;
  }
  .contact p {
    font-size: 2rem;
  }

  /*Mentions*/

  .tableShowFooter {
    min-width: 100vw;
    background: none;
    box-shadow: none;
  }

  /* Admin */

  .adminPage {
    margin-bottom: 4vh;
  }
  .adminPage h2 {
    font-size: 2rem;
  }
  .tableAdmin {
    margin-bottom: 5vh;
  }
  .tableAdmin th {
    font-size: 1.5rem;
  }
  .tableAdmin td {
    font-size: 1.4rem;
  }
  .tableAdmin .profilPic {
    height: 4vh;
  }

  .adminPage a {
    font-size: 1.5rem;
  }
  .adminPage .bttn {
    padding: 0.9rem;
    border-radius: 10px;
    color: white;
  }
  .adminPage .btnShow {
    background: green;
  }
  .adminPage .btnDelete {
    background: red;
  }
  .adminPage .btnMail {
    background: blue;
  }
  .adminPage button {
    font-size: 1.5rem;
    padding: 1rem;
    margin: 0.3rem;
    color: White;
    background: red;
    border-radius: 10px;
  }
  .adminPage .addNewUser {
    margin-bottom: 2rem;
  }
}

/*Tablette vertical*/
@media screen and (min-width: 809px) and (max-width: 1079px) {
  .navbar .logo {
    width: 16vw;
  }
  .homepage {
    margin-top: 10rem;
  }
  .projectCard {
    height: 60vh;
  }
  .logdiv {
    height: 9vh;
  }
  .Login {
    height: 65vh;
  }
  .buttonProject {
    height: 7vh;
  }
  .fct {
    height: 20vh;
  }
  .tableShowFooter {
    min-height: 100vh;
    margin-top: 15vh;
  }
  td {
    font-size: 1.4rem;
  }
  .Showdisc {
    height: 90vh;
  }
  .float {
    font-size: 1rem;
  }
  .discussion form input {
    font-size: 1.5rem;
  }
}

/*Tablette horizontale*/
@media screen and (min-width: 1080px) and (max-width: 1279px) {
  /*navbar*/
  nav {
    height: 17vh;
  }
  .navbar .logo {
    width: 12vw;
    height: 14vh;
  }
  .navbar li a {
    font-size: 1.5rem;
  }
  .navbar .list .btn:first-child {
    padding: unset;
  }
  .navbar .exitPic {
    height: 4vh;
  }
  .landing {
    justify-content: center;
  }

  /*Inscription*/

  .connexion {
    margin-top: 15vh;
  }
  .connexion h1 {
    font-size: 2rem;
  }
  .Login {
    min-height: 60vh;
  }
  .Login .logdiv {
    height: 8vh;
  }
  .Login .logdiv label {
    font-size: 1.5rem;
  }
  .Login .logdiv input {
    font-size: 1.3rem;
  }
  .Login .logdiv2 {
    height: 8vh;
  }
  .Login .logdiv2 label {
    font-size: 1.5rem;
  }
  .Login .logdiv2 input {
    font-size: 1.3rem;
  }
  .Login button {
    font-size: 1.5rem;
  }

  /* Reset Password*/

  .passWord h1 {
    font-size: 2rem;
  }
  .passWord form label {
    font-size: 1.5rem;
  }
  .passWord small {
    font-size: 1.5rem;
  }
  .passWord button {
    font-size: 1.5rem;
  }

  /*Homepage*/

  .homepage {
    margin-top: 10rem;
  }
  .titres h2 {
    font-size: 3rem;
  }
  .titres a {
    font-size: 1.5rem;
    padding: 0.5rem;
  }

  .userProject {
    flex-direction: row;
    margin-left: 10vw;
    overflow-x: scroll;
  }
  .projectCard {
    min-height: 55vh;
    min-width: 50vw;
  }
  .projectCard h3 {
    font-size: 2rem;
  }
  .projectCard p {
    font-size: 1.5rem;
  }
  .projectCard a {
    font-size: 1.5rem;
  }

  /*nouveau projet*/

  .container4 h1 {
    font-size: 2rem;
    margin-top: 10vh;
    height: 6vh;
  }
  .projectCard form {
    height: 100%;
  }
  .projectCard .logdiv {
    height: 10vh;
  }
  .projectCard .logdiv label {
    font-size: 1.5rem;
  }
  .projectCard .logdiv input {
    font-size: 1rem;
  }
  .projectCard .logdiv textarea {
    font-size: 1rem;
  }
  .projectCard .logdivbtn .button {
    font-size: 1.5rem;
  }
  .projectCard .logdivbtn .greenBtn {
    padding-right: 4.5rem;
  }

  /*Project Page*/

  .tableShow {
    margin-top: 12vh;
  }
  .tableShow h1 {
    margin-top: 0;
  }
  .tableShow table th {
    font-size: 1.5rem;
  }
  .tableShow table td {
    font-size: 1rem;
  }
  .tableShow .buttonProject a {
    font-size: 1.3rem;
  }
  .fct {
    height: 18vh;
  }

  /*Add user*/

  .addUser {
    margin-top: 15vh;
    height: 70vh;
  }
  .addUser h1 {
    margin-top: 0;
    font-size: 2rem;
    height: 10vh;
  }
  .addUser form label {
    font-size: 1.5rem;
  }
  .addUser form input {
    height: 5vh;
  }
  .addUser form button {
    font-size: 1.5rem;
  }
  .listUser a {
    font-size: 1rem;
    padding: 0;
    height: 5vh;
  }

  .addUser .button {
    height: 8vh;
    padding: 0.5rem;
  }

  /*Documents & Dépenses */

  .tableShow .u-full-width {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .tableShow .u-full-width thead {
    display: flex;
    align-items: center;
    width: 95%;
  }
  .tableShow .u-full-width thead tr {
    display: flex;
    justify-content: space-between;

    width: 100%;
  }
  .tableShow .u-full-width tbody {
    width: 95%;
  }
  .tableShow .u-full-width tbody tr {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }
  .formline td {
    margin-left: 0;
  }
  .formline td a {
    padding: 0.1rem;
    border-radius: 5px;
  }
  .tableShow .greenBtn {
    font-size: 1.5rem;
  }
  .tableShow .back {
    font-size: 1.5rem;
  }
  /* add Documents & Add Expenses*/
  .addDoc {
    height: 85vh;
  }
  .addDoc .Login2 {
    height: 40vh;
  }
  .addDoc .logdiv label {
    font-size: 1rem;
    margin-bottom: 0;
  }
  .addDoc .logdiv input {
    font-size: 1rem;
  }
  .addDoc .logdiv2 label {
    font-size: 1rem;
  }
  .addDoc .logdiv2 input {
    font-size: 1rem;
  }
  .addDoc .logdiv select {
    font-size: 1rem;
  }
  .addDoc .Login2 .logdivbtn button {
    font-size: 1.5rem;
  }

  /*Discussion*/
  .Showdisc {
    height: 100vh;
    margin-top: 10vh;
  }
  .topdisc {
    height: 13vh;
  }
  .topdisc h2 {
    font-size: 2rem;
  }
  .topdisc a {
    padding: 0.2rem;
    border-radius: 5px;
  }
  .chatMessage {
    height: 20vh;
  }
  .chatMessage2 {
    height: 20vh;
  }
  .float {
    font-size: 1rem;
  }
  .chatMessage img {
    height: 30px;
    width: 30px;
  }
  .chatMessage2 img {
    height: 30px;
    width: 30px;
  }
  #chat .row b {
    font-size: 0.7rem;
  }
  .discussion {
    height: 18vh;
  }
  .discussion #form input {
    font-size: 1rem;
  }
  .discussion form #submit {
    font-size: 1rem;
    padding: 1rem;
  }

  /*Admin*/

  .adminPage {
    margin-top: 20vh;
  }
  .tableAdmin {
    padding
  }
  /*User*/

  .tableUser {
    height: 80vh;
  }
  .tableUser .profilPic {
    height: 30px;
  }

  /* Edit User */
  .tableEditUser {
    height: 86vh;
  }
  .tableEditUser .Login {
    height: 90vh;
  }
  /*Edit Password*/
  .tableEditPassword{
    height: 80vh;
  }
  .editPass .logdiv label{
    font-size: 1rem;
  }
  .logdivpass{
    height: 15vh;
  }
  .tableEditPassword label{
    font-size: 1rem;
    
  }

  /*Footer*/

  footer a {
    font-size: 1.5rem;
  }
}
