{% extends 'base.html.twig' %}

{% block title %}Hello NavigationController!{% endblock %}

{% block body %}


<div class="connexion">
    

    <h1>Bienvenue sur Voyage, Voyage !</h1>
    <img src='/img/Voyage_voyage.png' >
    <h2> Votre espace pour organiser vos sejour en groupe, entre amis ou avec votre famille.</h2>

    <p>Merci de vous connecter</p>

    <a class="button btnCancel" href="{{ path('app_forgot_password_request') }}">Mot de passe oublié ?</a>
</div>
{% endblock %}