{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}

<div class='container4'>
    <div class='contact '>
        
        <h1> Voyage@voyage.com </h1>
        <p>1 rue de l'Alma 35000 RENNES </p>
        <p>06 00 00 00 00 </p>
        
    </div>
</div>
{% endblock %}
