{% extends 'base.html.twig' %}

{% block title %}New project{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<div class='container4'>
  
      <h1>Nouveau Projet</h1>

    <div class='projectCard '>

    
      <!-- The above form looks like this -->
      <form action="/project/add/save" method="POST">
        <div class="row">
          <div class="logdiv">
            <label for="title">Titre</label>
            <input class="u-full-width input" type="text" id="title" name="title">
          </div>
        </div>
        <div class="row">
          <div class="logdiv">
            <label for="description">Description</label>
            <textarea class="u-full-width input" type="text" id="description" name="description"></textarea>
          </div>
        </div>
        <div class="row">
          <div class="logdiv">
            <label for="date_in">Date de début</label>
            <input class="u-full-width input" type="date" id="date_in" name="date_in" placeholder="jj/mm/aaaa">
          </div>
        </div>
        <div class="row">
          <div class="logdiv">
            <label for="date_out">Date de fin</label>
            <input class="u-full-width input" type="date" id="date_out" name="date_out" placeholder="jj/mm/aaaa">
          </div>
        </div>
        <div class="row">
          <div class="logdivbtn">
            <a class="button" href="{{ path('home') }}">Retour</a>
            <input class="button greenBtn" type="submit" value="Sauvegarder">
          </div>
        </div>
      </form>
      </div>
    </div>
  
</div>  
{% endblock %}
