{% extends 'base.html.twig' %}

{% block title %}Edit Password{% endblock %}

{% block body %}
<div class="tableShow">
    <h1>Edit Password</h1>

    {{ form(form) }}
         
    
    </div>
{% endblock %}
